<ul>
  <li>
    <%= link_to 'Arc API - Staging', 'https://arc.***REMOVED***/api/v1/agents' %>
  </li>
  <li>
    <%= link_to 'Github', 'https://gitHub.***REMOVED*** /monsoon/arc' %>
  </li>
  <li>
    <%= link_to 'Concourse', 'http://concourse.***REMOVED***:8080/pipelines/arc' %>
  </li>
  <li>
    <%= link_to 'Documentation', 'https://gitHub.***REMOVED*** /pages/monsoon/arc/' %>
  </li>
</ul>