<ul>
  <li>
    <%= link_to 'Github', 'https://gitHub.***REMOVED*** /monsoon/arc/tree/master/update-server', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'Concourse', 'http://concourse.staging.***REMOVED***:8080/pipelines/arc', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'Kube Specs', 'https://gitHub.***REMOVED*** /monsoon/openstack-kube/blob/master/config/openstack/arc', target: 'blank'  %>
  </li>
  <li class="list-header">
    Staging
  </li>
  <li>
    <b>Broker URL:</b> tls://arc-broker.***REMOVED***:8883
  </li>
  <li class="list-header">
    eu-de-1
  </li>
  <li>
    <b>Broker URL:</b> tls://arc-broker.***REMOVED***:8883
  </li>
</ul>