<ul>
  <li>
    <%= link_to 'Github', 'https://gitHub.***REMOVED*** /monsoon-docker/openstackcli-wtty/blob/master/requirements.txt', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Concourse', 'http://concourse.staging.***REMOVED***:8080/pipelines/webcli', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Kube Specs', 'https://gitHub.***REMOVED*** /monsoon/monsoon-kube/tree/master/config/webcli', target: 'blank' %>
  </li>
</ul>