<ul>
  <li>
    <%= link_to 'Github', 'https://gitHub.***REMOVED*** /monsoon/lyra-cli' %>
  </li>
  <li>
    <%= link_to 'Concourse', 'http://concourse.staging.***REMOVED***:8080/pipelines/lyra?groups=cli' %>
  </li>
  <li>
    <%= link_to 'Documentation', 'https://documentation.***REMOVED***/docs/automation/cli/' %>
  </li>
  <li>
    <%= link_to 'License', 'https://gitHub.***REMOVED*** /monsoon/lyra-cli/blob/master/LICENSE' %>
  </li>
</ul>