<ul>
  <li>
    <%= link_to 'PKI - Staging', 'https://arc-pki.***REMOVED***' %>
  </li>
  <li>
    <%= link_to 'Github', 'https://gitHub.***REMOVED*** /monsoon/arc-pki' %>
  </li>
  <li>
    <%= link_to 'Concourse', 'http://concourse.***REMOVED***:8080/pipelines/arc' %>
  </li>
</ul>