<li><a href="#" id="staging">staging</a></li>
<li><a href="#" id="ap-ae-1">ap-ae-1</a></li>
<li><a href="#" id="ap-au-1">ap-au-1</a></li>
<li><a href="#" id="ap-cn-1">ap-cn-1</a></li>
<li><a href="#" id="ap-jp-1">ap-jp-1</a></li>
<li><a href="#" id="ap-jp-2">ap-jp-2</a></li>
<li><a href="#" id="ap-sa-1">ap-sa-1</a></li>
<li><a href="#" id="eu-de-1">eu-de-1</a></li>
<li><a href="#" id="eu-nl-1">eu-nl-1</a></li>
<li><a href="#" id="eu-ru-1">eu-ru-1</a></li>
<li><a href="#" id="la-br-1">la-br-1</a></li>
<li><a href="#" id="na-ca-1">na-ca-1</a></li>
<li><a href="#" id="na-us-1">na-us-1</a></li>
<li><a href="#" id="na-us-3">na-us-3</a></li>
<li><a href="#" id="qa-de-1">qa-de-1</a></li>
