<ul>
  <li>
    <%= link_to 'Kube Specs', 'https://gitHub.***REMOVED*** /monsoon/openstack-kube/blob/master/config/openstack/arc/configmap-staging.yaml' %>
  </li>
  <li class="list-header">
    Access points:
  </li>
  <li>
    <%= link_to 'Arc Releases Stable', 'https://stable.arc.***REMOVED***' %>
  </li>
  <li>
    <%= link_to 'Arc Releases Beta', 'https://beta.arc.***REMOVED***' %>
  </li>
  <li>
    <%= link_to 'Arc Releases Alpha', 'https://alpha.arc.***REMOVED***' %>
  </li>
</ul>