<ul>
  <li>
    <%= link_to 'Github', 'https://gitHub.***REMOVED*** /monsoon/arc/tree/master/update-server' %>
  </li>
  <li>
    <%= link_to 'Concourse', 'http://concourse.***REMOVED***:8080/pipelines/arc' %>
  </li>
  <li class="list-header">
    Staging
  </li>
  <li>
    <%= link_to 'Update Site', 'https://arc-updates.***REMOVED***' %>
  </li>
</ul>