<ul>
  <li>
    <b>Broker Staging URL:</b> tls://arc-broker.***REMOVED***:8883
  </li>
  <li>
    <%= link_to 'Github', 'https://gitHub.***REMOVED*** /monsoon/arc/tree/master/update-server' %>
  </li>
  <li>
    <%= link_to 'Concourse', 'http://concourse.***REMOVED***:8080/pipelines/arc' %>
  </li>
</ul>