<ul>
  <li>
    <b>Swift URL:</b> https://objectstore.***REMOVED***:443/v1/AUTH_p-7496766f1/{container}
  </li>
  <li>
    <b>Container Staging:</b> arc-releases-beta
  </li>
  <li>
    <b>Container Production:</b> arc-releases-stable
  </li>
</ul>