/* elements */

.devs text {
  text-transform: uppercase;
  font-weight: 800;
}

.devs .body {
  fill: #ffffff;
  stroke: #31d0c6;
  stroke-width: 6px;
}

.devs .label {
  fill: #31d0c6;
  font-size: 16px;
}

.devs .port-body {
  stroke: #ffffff;
  stroke-width: 3px;
  fill: #7c68fc;
}

.devs .port-body:hover {
  opacity: 1;
  fill: #ff7e5d;
}

.devs .port-label {
  fill: #7c68fc;
}

.devs.Atomic .body {
  stroke: #feb663;
}

.devs.Atomic .label {
  fill: #feb663;
}

/* links */

.link .connection {
  stroke: black;
  stroke-width: 4px;
}

.link .marker-arrowhead, .link .marker-vertex {
  fill: black;
}

.link-tools .tool-remove circle {
  fill: #fe854f;
}

.link-tools .tool-remove {
  display: none;
}

.link-tools .tool-options {
  display: none;
}

.marker-arrowhead-group.marker-arrowhead-group-source.sourceHidden {
  display: none;
}

.joint-link .connection-wrap,
.joint-link .connection {
  fill: none;
}

/* highlighting */

.devs.highlighted-parent .body {
  stroke: #fe854f;
  transition: stroke 1s;
}

.devs.highlighted-parent .label {
  fill: #fe854f;
  transition: fill 1s;
  text-decoration: underline;
}

.popover-content {
  ul {
    padding-left: 10px;
  }
  .list-header {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 10px;
  }
}