---
description: Service discovery and configuration made easy. Distributed, highly available, and datacenter-aware.
---


<div class="container">

<h1 class="page-header">Automation Service Lyra for Devs</h1>

<div id="paper"></div>

<div id="popover_container"></div>

</div> <!-- /container -->


<% content_for :javascripts do %>

  <%= javascript_include_tag 'lodash.min' %>
  <%= javascript_include_tag 'backbone-min' %>
  <%= javascript_include_tag 'jointjs' %>
  <%= javascript_include_tag 'diagram' %>

<% end %>
